In [1]:
import pandas as pd

In [2]:
input_data = pd.read_csv("untitled.csv")

In [3]:
input_data

         Dir  Dis
0    forward    6
1    forward    9
2       down    9
3       down    7
4    forward    8
..       ...  ...
995     down    6
996     down    2
997  forward    7
998     down    3
999  forward    5

[1000 rows x 2 columns]

In [4]:
input_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dir     1000 non-null   object
 1   Dis     1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [5]:
input_data["Dis"]

0      6
1      9
2      9
3      7
4      8
      ..
995    6
996    2
997    7
998    3
999    5
Name: Dis, Length: 1000, dtype: int64

In [16]:
forward =0
depth =0

In [17]:
forward =0
depth =0
for a in range(0,1000):
    if (input_data["Dir"][a] == "forward"):
        forward =forward + input_data["Dis"][a]
    if (input_data["Dir"][a] == "down"):
        depth =depth+input_data["Dis"][a]
    if (input_data["Dir"][a] == "up"):
        depth = depth-input_data["Dis"][a]
print(forward,depth)

1967 1031

In [18]:
forward*depth

2027977