In [1]:
import pandas as pd
import numpy as np

## Preparing the data

In [2]:
input_data = pd.read_csv("untitled.csv")

In [3]:
input_data

        a   b   c   d   e   f
0    34.0  90  18  33  83 NaN
1    27.0   7  25  61  15 NaN
2    43.0   5  51  32  45 NaN
3    24.0  17  72  31  22 NaN
4    77.0  46  78  16   9 NaN
..    ...  ..  ..  ..  ..  ..
495  96.0  55  84  44  10 NaN
496  57.0  80  30  52  72 NaN
497  42.0  40  36  41  73 NaN
498  85.0  38  64  63  13 NaN
499  47.0  16   8  76  94 NaN

[500 rows x 6 columns]

In [4]:
input_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       453 non-null    float64
 1   b       500 non-null    int64
 2   c       500 non-null    int64
 3   d       500 non-null    int64
 4   e       500 non-null    int64
 5   f       47 non-null     float64
dtypes: float64(2), int64(4)
memory usage: 23.6 KB

In [5]:
input_data.fillna(200,inplace = True)

In [6]:
input_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       500 non-null    float64
 1   b       500 non-null    int64
 2   c       500 non-null    int64
 3   d       500 non-null    int64
 4   e       500 non-null    int64
 5   f       500 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 23.6 KB

In [7]:
b=np.random.randint(0, 1, size=(100,5,5))

In [8]:
input_data.columns

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [9]:
# removing the null object and moving  one column right in those rows where we filled 200 inplace of null
x=ord('a')
for d in range(0,6):
    
    for i in range(0,500):

        if (input_data[chr(x)][i]==200):
            y=x
            for g in range(y,ord('f')):
                input_data[chr(y)][i] = input_data[chr(y+1)][i]
                y+=1
    x+=1

/tmp/ipykernel_69277/2019060881.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_data[chr(y)][i] = input_data[chr(y+1)][i]

In [10]:
input_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       500 non-null    float64
 1   b       500 non-null    int64
 2   c       500 non-null    int64
 3   d       500 non-null    int64
 4   e       500 non-null    int64
 5   f       500 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 23.6 KB

In [11]:
input_data.drop('f',axis=1,inplace=True)

In [12]:
# Preparing an array of 100 matrix(bingo boards) from the input data we cleaned
a1=-1
i=0
for t in range(0,100):
    
    if (i%5 == 0):
        a1 += 1
        
    for a2 in range(0,5):
        x=ord('a')
        
        for a3 in range(0,5):
            b[a1][a2][a3] = int(input_data[chr(x)][i])
            x+=1
        i+=1

In [13]:
b

array([[[34, 90, 18, 33, 83],
        [27,  7, 25, 61, 15],
        [43,  5, 51, 32, 45],
        [24, 17, 72, 31, 22],
        [77, 46, 78, 16,  9]],

       [[72, 95, 37, 52, 68],
        [80,  1, 73, 96, 63],
        [16, 49,  9, 42, 97],
        [25, 81, 20, 11, 46],
        [31, 24,  2, 34, 18]],

       [[88, 29, 95, 98, 57],
        [49, 36,  6, 23, 83],
        [18,  5, 45, 40, 44],
        [62, 81, 74, 99, 87],
        [46, 56, 35, 21, 52]],

       ...,

       [[71, 77, 24, 72, 43],
        [41, 38, 62, 21, 36],
        [70, 10, 37, 60, 83],
        [79, 94, 39,  0, 51],
        [73, 46, 98, 34, 50]],

       [[96, 26, 95, 48, 17],
        [97, 40, 42, 53, 35],
        [74, 67, 47, 22, 23],
        [14, 70, 54,  8, 66],
        [52, 31, 63, 34,  1]],

       [[96, 55, 84, 44, 10],
        [57, 80, 30, 52, 72],
        [42, 40, 36, 41, 73],
        [85, 38, 64, 63, 13],
        [47, 16,  8, 76, 94]]])

In [14]:
draw=[4,77,78,12,91,82,48,59,28,26,34,10,71,89,54,63,66,75,15,22,39,55,83,47,81,74,2,46,25,98,29,21,85,96,3,16,60,31,99,86,52,17,69,27,73,49,95,35,9,53,64,88,37,72,92,70,5,65,79,61,38,14,7,44,43,8,42,45,23,41,57,80,51,90,84,11,93,40,50,33,56,67,68,32,6,94,97,13,87,30,18,76,36,24,19,20,1,0,58,62]

In [15]:
type(draw[1])

int

In [16]:
b_copy = b.copy()

In [17]:
b_copy

array([[[34, 90, 18, 33, 83],
        [27,  7, 25, 61, 15],
        [43,  5, 51, 32, 45],
        [24, 17, 72, 31, 22],
        [77, 46, 78, 16,  9]],

       [[72, 95, 37, 52, 68],
        [80,  1, 73, 96, 63],
        [16, 49,  9, 42, 97],
        [25, 81, 20, 11, 46],
        [31, 24,  2, 34, 18]],

       [[88, 29, 95, 98, 57],
        [49, 36,  6, 23, 83],
        [18,  5, 45, 40, 44],
        [62, 81, 74, 99, 87],
        [46, 56, 35, 21, 52]],

       ...,

       [[71, 77, 24, 72, 43],
        [41, 38, 62, 21, 36],
        [70, 10, 37, 60, 83],
        [79, 94, 39,  0, 51],
        [73, 46, 98, 34, 50]],

       [[96, 26, 95, 48, 17],
        [97, 40, 42, 53, 35],
        [74, 67, 47, 22, 23],
        [14, 70, 54,  8, 66],
        [52, 31, 63, 34,  1]],

       [[96, 55, 84, 44, 10],
        [57, 80, 30, 52, 72],
        [42, 40, 36, 41, 73],
        [85, 38, 64, 63, 13],
        [47, 16,  8, 76, 94]]])

# Solving puzzle 1

#### Marking the matrix by making it 100

In [18]:
b_copy = b.copy()
for l in range(0,100):    
    for i in range(0,100):
        for t in range(0,5):            
            for u in range(0,5):
                if (b_copy[i][t][u] == draw[l]):
#                     print(b_copy[i][t][u],draw[l] ,l , i)
                    b_copy[i][t][u] = 100                    
#                     print(b_copy[i][t][u],draw[l] ,l , i)
    r=False  
    c=False
    for i in range (0,100):
        for t in range (0,5):
            b_sum = 0
            for u in range (0,5):
                b_sum += b_copy[i][u][t]
                if (b_sum == 500):
                    c = True
                    break 
            if(c==True):
                break
            if (b_copy[i][t].sum() == 500):
                r = True
                break                  
        if (r==True):
            print("r\n",b_copy[i],i,l,draw[l])
            break
        elif (c==True):
            print("c\n",b_copy[i],i,l,draw[l])
            break
                
    if (r==True):
        break
    elif (c==True):
        break

c
 [[ 64 100  20 100 100]
 [ 46 100 100  69  41]
 [ 44 100  73  35  61]
 [ 99 100 100  43  72]
 [ 76 100  93  23   0]] 46 24 81

#### Printing the sum

In [19]:
s=0
for t in range(0,5):            
            for u in range(0,5):
                if (b_copy[i][t][u] !=100):
                    s += b_copy[i][t][u]
print(s*draw[l])

69579

# Solving Puzzle 2

#### Finding the last matrix to win

In [20]:
b_copy = b.copy()
a= list(range(0,100))

for l in range(0,100):
    if (len(a)>1):
        for i in range(0,100):
            if (i in a):
                for t in range(0,5):            
                    for u in range(0,5):
                        if (b_copy[i][t][u] == draw[l]):
                               b_copy[i][t][u] = 100        
                  
            
        for i in range (0,100):
            r=False  
            c=False
            if ((len(a)>1) and (i in a)):
                for t in range (0,5):
                    b_sum = 0
                    for u in range (0,5):
                        b_sum += b_copy[i][u][t]
                        if (b_sum == 500):
                            c = True
                            break 
                    if(c==True):
                        break
                    if (b_copy[i][t].sum() == 500):
                        r = True
                        break                  
                if (r==True):
                    a.remove(i)
                elif (c==True):                    
                    a.remove(i)

    else:
        print(b_copy[a],a,draw[l])
        break

[[[ 30 100 100 100 100]
  [100 100  62  97 100]
  [100   1 100 100 100]
  [ 36 100  18 100 100]
  [100 100 100  87  24]]] [59] 97

In [21]:
b_copy = b.copy()
i= a[0]
for l in range(0,100):    
        
        for t in range(0,5):            
            for u in range(0,5):
                if (b_copy[i][t][u] == draw[l]):
#                     print(b_copy[i][t][u],draw[l] ,l , i)
                    b_copy[i][t][u] = 100                    
#                     print(b_copy[i][t][u],draw[l] ,l , i)
        r=False  
        c=False
    
        for t in range (0,5):
            b_sum = 0
            for u in range (0,5):
                b_sum += b_copy[i][u][t]
                if (b_sum == 500):
                    c = True
                    break 
            if(c==True):
                break
            if (b_copy[i][t].sum() == 500):
                r = True
                break                  
        if (r==True):
            print("r\n",b_copy[i],i,l,draw[l])
            break
        elif (c==True):
            print("c\n",b_copy[i],i,l,draw[l])
            break

c
 [[ 30 100 100 100 100]
 [100 100  62 100 100]
 [100   1 100 100 100]
 [ 36 100  18 100 100]
 [100 100 100 100  24]] 59 88 87

In [22]:
s=0
for t in range(0,5):            
            for u in range(0,5):
                if (b_copy[i][t][u] !=100):
                    s += b_copy[i][t][u]
print(s*draw[l])

14877