In [1]:
import pandas as pd

In [2]:
input_data = pd.read_csv("untitled.csv")

In [3]:
input_data

              Dir
0     10011001001
1    110101011110
2    111111000101
3    100111111001
4           11111
..            ...
995  100101001110
996  100011100011
997  101000101000
998   10101110101
999   11100011100

[1000 rows x 1 columns]

In [4]:
input_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dir     1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

In [5]:
input_data["Dir"]

0       10011001001
1      110101011110
2      111111000101
3      100111111001
4             11111
           ...
995    100101001110
996    100011100011
997    101000101000
998     10101110101
999     11100011100
Name: Dir, Length: 1000, dtype: int64

binary = pd.Series(mdtype='object)
binary

In [6]:
input_data["string"]=str(input_data["Dir"])

for a in range(0,1000):
    
    input_data["string"][a]=str(input_data["Dir"][a])
    
    if (len(input_data["string"][a])!=12):
        for x in range(0,13):
            input_data["string"][a] = '0'+ input_data["string"][a]
            
            if (len(input_data["string"][a])==12):
                break

/tmp/ipykernel_3832/3695127799.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_data["string"][a]=str(input_data["Dir"][a])
/tmp/ipykernel_3832/3695127799.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_data["string"][a] = '0'+ input_data["string"][a]

In [7]:
input_data

              Dir        string
0     10011001001  010011001001
1    110101011110  110101011110
2    111111000101  111111000101
3    100111111001  100111111001
4           11111  000000011111
..            ...           ...
995  100101001110  100101001110
996  100011100011  100011100011
997  101000101000  101000101000
998   10101110101  010101110101
999   11100011100  011100011100

[1000 rows x 2 columns]

In [8]:
g_max = ''
for a in range(0,12):
    n_0 = 0 
    n_1 = 0
    for i in range(0,1000):
        if (input_data["string"][i][a] == '0'):
            n_0 += 1
        else:
            n_1 +=1
    print(n_0,n_1 )   
    if (n_0 > n_1):
          g_max = g_max+'0'
        
    if (n_0 < n_1):
        g_max = g_max + '1'
print(g_max)

512 488
501 499
503 497
494 506
516 484
515 485
510 490
499 501
497 503
517 483
507 493
485 515
000100011001

In [23]:
oxy=input_data["string"]
car=input_data["string"]
type(oxy),oxy[0],len(oxy)

(pandas.core.series.Series, '010011001001', 1000)

In [24]:
oxy

0      010011001001
1      110101011110
2      111111000101
3      100111111001
4      000000011111
           ...
995    100101001110
996    100011100011
997    101000101000
998    010101110101
999    011100011100
Name: string, Length: 1000, dtype: object

In [25]:
for a in range(0,12):
    
    
    n_0 = 0 
    n_1 = 0
    oxy =oxy.reset_index()["string"]
    y=len(oxy)
       
    for i in range(0,y):
        if (oxy[i][a] == '0'):
            n_0 += 1
        else:
            n_1 +=1          
                     
    if (len(oxy)>1):
        for i in range(0,y):
            
            if (n_0 == n_1):
                if (oxy[i][a] != '1'):
                    oxy.drop([i],inplace = True)
            
            if (n_0 > n_1):            
                if (oxy[i][a] != '0'):
                    oxy.drop([i],inplace = True)
        
            if (n_0 < n_1):            
                if (oxy[i][a] != '1'):
                    oxy.drop([i],inplace = True)
    
                    
    n_0 = 0
    n_1 = 0
    car =car.reset_index()["string"]
    z=len(car)
    
    for i in range(0,z):
        if (car[i][a] == '0'):
            n_0 += 1
        else:
            n_1 +=1  
            
    
    
    if (len(car)>1):
        for i in range(0,z):
            
            if (n_0 == n_1):
                if (car[i][a] != '0'):
                    car.drop([i],inplace = True)
            
            if (n_0 > n_1): 
                if (car[i][a] != '1'):
                    car.drop([i],inplace = True)
        
            if (n_0 < n_1):            
                if (car[i][a] != '0'):
                    car.drop([i],inplace = True)

In [26]:
oxy,car

(0    011010001111
 Name: string, dtype: object,
 0    111001000000
 Name: string, dtype: object)