In [1]:
import pandas as pd
import numpy as np

In [2]:
input_data = pd.read_csv("untitled.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 103266: invalid start byte

In [3]:
input_data

      x1   y1   x2   y2
0    720  475  720  669
1    268  784  595  784
2    163  778  149  778
3    856  917  856  114
4    929  964  433  964
..   ...  ...  ...  ...
495  947  142   45  142
496  653   57  131   57
497  822  720  721  720
498  861  871  125  135
499  950  698  597  698

[500 rows x 4 columns]

In [4]:
input_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      500 non-null    int64
 1   y1      500 non-null    int64
 2   x2      500 non-null    int64
 3   y2      500 non-null    int64
dtypes: int64(4)
memory usage: 15.8 KB

In [5]:
input_data.max()

x1    989
y1    990
x2    990
y2    988
dtype: int64

In [6]:
m = np.zeros((1000,1000),dtype = int)
for i in range(0,500):
    
    # Line parallel to x axis as y input is same
    
    if (input_data['y1'][i]==input_data['y2'][i]):
        
        if (input_data['x1'][i] > input_data['x2'][i]):
            x=list(range( int(input_data['x2'][i]) , int((input_data['x1'][i])+1) ))
        elif (input_data['x1'][i] < input_data['x2'][i]):
            x=list(range( int(input_data['x1'][i]) , int((input_data['x2'][i])+1) ))           
        for t in x:
            m[input_data['y1'][i]][t] +=1
   # Line paralle to y-axis as x input is same         
    elif (input_data['x1'][i]==input_data['x2'][i]):
        
        if (input_data['y1'][i] > input_data['y2'][i]):
            x=list(range( int(input_data['y2'][i]) , int((input_data['y1'][i])+1) ))
        elif (input_data['y1'][i] < input_data['y2'][i]):
            x=list(range( int(input_data['y1'][i]) , int((input_data['y2'][i])+1) ))            
        for t in x:
            m[t][input_data['x1'][i]] +=1    
    
    # Diagonal line
    else:
        # Slope if postive 1
        if (input_data['x1'][i] > input_data['x2'][i]) and (input_data['y1'][i] > input_data['y2'][i]):
            x=list(range( int(input_data['x2'][i]) , int((input_data['x1'][i])+1) ))
            y=list(range( int(input_data['y2'][i]) , int((input_data['y1'][i])+1) ))
            
            for q in range(0,len(x)):
                m[y[q]][x[q]] +=1
            
            
        elif (input_data['x1'][i] < input_data['x2'][i]) and (input_data['y1'][i] < input_data['y2'][i]):
            x=list(range( int(input_data['x1'][i]) , int((input_data['x2'][i])+1) ))
            y=list(range( int(input_data['y1'][i]) , int((input_data['y2'][i])+1) ))
            
            for q in range(0,len(x)):
                m[y[q]][x[q]] +=1
                
        # Slope is negative 1
            
        elif (input_data['y1'][i] > input_data['y2'][i]) and (input_data['x1'][i] < input_data['x2'][i]):
            x=list(range( int(input_data['x1'][i]) , int((input_data['x2'][i])+1) ))
            y=list(range( int(input_data['y2'][i]) , int((input_data['y1'][i])+1) ))
            y_r = y[::-1]
            
            for q in range (0,len(x)):
                m[y_r[q]][x[q]] +=1
            
            
        elif (input_data['y1'][i] < input_data['y2'][i]) and (input_data['x1'][i] > input_data['x2'][i]):
            x=list(range( int(input_data['x2'][i]) , int((input_data['x1'][i])+1) ))
            y=list(range( int(input_data['y1'][i]) , int((input_data['y2'][i])+1) ))
            x_r  = x[::-1]
            
            for q in range (0,len(x)):
                m[y[q]][x_r[q]] +=1

In [7]:
x=0
for i in range(0,1000):
    for t in range(0,1000):
        if (m[i][t] >=2):
            x+=1
print(x)

21140

In [8]:
list(range(0,10))[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]